In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
print(os.listdir("../input"))

['imbd-sf']

In [7]:
data = pd.read_csv('../input/imbd-sf/data.csv')
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [8]:
len(data)

1890

# Предобработка датасета

In [10]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [ ]:
# тут вводим ваш ответ и добавлем в его список ответов (сейчас для примера стоит "1")
answer_ls.append(4)
data[data.budget==data.budget.max()]#1

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [ ]:
answer_ls.append(2)
data[data.runtime==data.runtime.max()]#2

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [ ]:
answer_ls.append(3)
data[data.runtime==data.runtime.min()]#3

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [1]:
answer_ls.append(2)
data['runtime'].mean()#4

NameError: name 'answer_ls' is not defined

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [ ]:
answer_ls.append(1)
data['runtime'].median()#5

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [ ]:
answer_ls.append(5)
data[data.revenue-data.budget==(data.revenue-data.budget).max()]#6

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [ ]:
answer_ls.append(2)
data[data.revenue-data.budget==(data.revenue-data.budget).min()]#7

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [ ]:
answer_ls.append(1)
data[data.revenue>data.budget]#8

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [ ]:
answer_ls.append(4)
a=data[(data.release_year==2008)].revenue.max()
data[data.revenue==a]#9

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [ ]:
answer_ls.append(5)
a=data[(data.release_year>=2012) & (data.release_year<=2014)]
a[a.revenue-a.budget==(a.revenue-a.budget).min()]

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [ ]:
answer_ls.append(3)
#11 жанры
a=data.genres
l=len(a)
dec={}
for line in a:
    info=line.split('|')
 
    for wor in range(len(info)):
        ed=info[wor]
        if ed in dec:
            dec[ed]+=1
        else:
            dec[ed]=1
m=max(dec.values())
for der,pos in dec.items():
    if m ==pos:
        print('genres=',der)

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [ ]:
answer_ls.append(1)
b=data[data.revenue-data.budget>0]
b.describe()
a=b.genres
dec={}

k=0
for line in a:
    info=line.split('|')
   
    for wor in range(len(info)):
        ed=info[wor]
       
        if ed in dec:
            dec[ed]+=1
        else:
            
            dec[ed]=1

m=max(dec.values())
print('m=',m)
for der,pos in dec.items():
    if m ==pos:
        print('genres=',der)

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [ ]:
answer_ls.append(3)
a=data.director
l=len(a)
dec={}
k=0
for line in a:
    info=line.split('|')
    for wor in range(len(info)):
        ed=info[wor]
       
        if ed in dec:
            dec[ed]+=1
        else:
            dec[ed]=1
m=max(dec.values())
print('m=',m)

for der,pos in dec.items():
    if m ==pos:
        print('director=',der)

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [ ]:
answer_ls.append(4)
b=data[data.revenue-data.budget>0]
a=b.director
dec={}
k=0
for line in a:
    info=line.split('|')
    for wor in range(len(info)):
        ed=info[wor]
        if ed in dec:
            dec[ed]+=1
        else:
            dec[ed]=1
m=max(dec.values())
print('m=',m)

for der,pos in dec.items():
    if m ==pos:
        print('derector=',der)

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [ ]:

answer_ls.append(5)
small_dat = data[data.columns[3:7]]
a=small_dat.director
b=small_dat.revenue
dec={}
k=0
for line in a:
    info=line.split('|')
    for wor in range(len(info)):
        ed=info[wor]
        if ed in dec:
            dec[ed]+=b[k]
        else:
            dec[ed]=b[k]
       
    k+=1
m=max(dec.values())
print('m=',m)
for der,pos in dec.items():
    if m ==pos:
        print('director=',der)

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [ ]:
answer_ls.append(1)
small_dat = data[data.columns[3:6]]
a=small_dat.cast
b=small_dat.revenue
dec={}
k=0
for line in a:
    info=line.split('|')
    for wor in range(len(info)):
        ed=info[wor]
        if ed in dec:
            dec[ed]+=b[k]
        else:
            dec[ed]=b[k]
      
    k+=1
m=max(dec.values())# 
print('m=',m)
for der,pos in dec.items():
    if m ==pos:
        print('actor=',der)

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [ ]:
answer_ls.append(3)
small_dat = data[data.release_year==2012] 
a=small_dat.cast
brd=small_dat['revenue']-small_dat['budget']
b={}
k=971
for ird in range(len(brd)):
    b[ird]=brd[k]
    k+=1
dec={}
k=0
for line in a:
    info=line.split('|')
    for wor in range(len(info)):
        ed=info[wor]
        if ed in dec:
            dec[ed]+=b[k]
        else:
            dec[ed]=b[k]
       
    k+=1

m=min(dec.values()) 
print('m=',m)
for der,pos in dec.items():
    if m ==pos:
        print('actor=',der)

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [ ]:
answer_ls.append(3)
b=data[data.budget>data.budget.mean()]
a=b.cast
dec={}
k=0
for line in a:
    info=line.split('|')
    for wor in range(len(info)):
        ed=info[wor]
        if ed in dec:
            dec[ed]+=1
        else:
            dec[ed]=1
m=max(dec.values())
print('m=',m)
for der,pos in dec.items():
    if m ==pos:
        print('actor=',der)

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [ ]:
answer_ls.append(2)
a=data.cast
b=data.genres
dec={}
k=0
g=0
for line in a:
    info=line.split('|')
    if 'Nicolas Cage' in info:
        gen = b[g].split('|')
        k+=1    
        for wor in range(len(gen)):
            ed=gen[wor]
            if ed in dec:
                dec[ed]+=1
            else:
                dec[ed]=1
      
    g+=1
m=max(dec.values()) 
print('m=',m)
for der,pos in dec.items():
    if m ==pos:
        print('actor=',der)

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [ ]:
answer_ls.append(1)
a=data.production_companies
dec={}
k=0
for line in a:
    info=line.split('|')
    for wor in range(len(info)):
        ed=info[wor]
        if ed in dec:
            dec[ed]+=1
        else:
            dec[ed]=1
m=max(dec.values())
print('m=',m)
for der,pos in dec.items():
    if m ==pos:
        print('production_companies=',der)

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [ ]:
answer_ls.append(4)
#21 production_companies in 2015
b=data[(data.release_year==2015)]                   
a=b.production_companies
dec={}
k=0
for line in a:
    info=line.split('|')
    for wor in range(len(info)):
        ed=info[wor]
        if ed in dec:
            dec[ed]+=1
        else:
            dec[ed]=1
m=max(dec.values())
print('m=',m)
for der,pos in dec.items():
    if m ==pos:
        print('production_companies=',der)

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [ ]:
answer_ls.append(2)
a=data.production_companies
g=data.genres
b=data.revenue
dec={}
k=0
for line in a:
    
    if "Comedy" in g[k]:
        info=line.split('|')
        for wor in range(len(info)):
            ed=info[wor]
            if ed in dec:
                dec[ed]+=b[k]
            else:
                dec[ed]=b[k]
    k+=1       
m=max(dec.values())
print('m=',m)
for der,pos in dec.items():
    if m ==pos:
        print('production_companies with Comedy=',der)

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [ ]:
answer_ls.append(3)
#23 production_companies in 2012
small_dat=data[(data.release_year==2012)]  
a=small_dat.production_companies
b=small_dat.revenue
dec={}
k=971
for line in a:
    info=line.split('|')
    for wor in range(len(info)):
        ed=info[wor]
        if ed in dec:
            dec[ed]+=b[k]
        else:
            dec[ed]=b[k]
    k+=1
m=max(dec.values())
print('m=',m)
for der,pos in dec.items():
    if m ==pos:
        print('production_companies=',der)

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [ ]:
answer_ls.append(1)
#24 production_companies Paramount Pictures with min profit
a=data.production_companies
b=data.revenue-data.budget
f=data.original_title
dec={}
k=0
for line in a:
    if 'Paramount Pictures' in line:
        ed=f[k]
        if ed in dec:
            dec[ed]+=b[k]
        else:
            dec[ed]=b[k]
    k+=1
    
m=min(dec.values())
print('m=',m)

for der,pos in dec.items():
    if m ==pos:
        print('film with min profit=',der)

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [1]:
answer_ls.append(5)
#25 company max profit
year=data['release_year'].value_counts()
t=data.release_year
a=data.revenue
dec={}
k=0
for line in t:
    if line in dec.keys():
            dec[line]+=a[k]
    else:
            dec[line]=a[k]
    k+=1
m=max(dec.values())
print('m=',m)

for der,pos in dec.items():
    if m ==pos:
        print('year=',der)

NameError: name 'answer_ls' is not defined

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [ ]:
answer_ls.append(1)
#26 company max profit for Warner Bros
year=data['release_year'].value_counts()
t=data.release_year
a=data.revenue
b=data.production_companies
dec={}
k=0
for line in t:
    if 'Warner Bros' in b[k]:
        if line in dec.keys():
            dec[line]+=a[k]
        else:
            dec[line]=a[k]
    k+=1   
m=max(dec.values())
print('m=',m)

for der,pos in dec.items():
    if m ==pos:
        print('year for Warner Bros=',der)

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [ ]:
answer_ls.append(4)
#27 film in mounth max
k=0
dec={}
t=data.release_date
for line in t:
    if '.' in line:
        info=line.replace('.','/')
    else:
        info=line
    info_new=info.split('/')
    inf=info_new[0]
    if inf in dec.keys():
        dec[inf]+=1
    else:
        dec[inf]=1
    k+=1

m=max(dec.values())
print('m=',m)
yer={}
yer['1']='Январь'
yer['2']='Февраль'
yer['3']='Март'
yer['4']='Апрель'
yer['5']='Май'
yer['6']='Июнь'
yer['7']='Июль'
yer['8']='Август'
yer['9']='Сентябрь'
yer['10']='Октябрь'
yer['11']='Ноябрь'
yer['12']='Декабрь'
for der,pos in dec.items():
    if m ==pos and der in yer:
        print('film in mounth max=',yer[der])

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [ ]:
answer_ls.append(2)
#28 film in summer
k=0
dec={}
t=data.release_date
for line in t:
    if '.' in line:
        info=line.replace('.','/')
    else:
        info=line
    info_new=info.split('/')
    inf=info_new[0]
    if inf in dec.keys():
        dec[inf]+=1
    else:
        dec[inf]=1
    k+=1
        
s=dec['6']+dec['7']+dec['8']

print('film in summer mounth =',s)

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [ ]:
answer_ls.append(5)
#29 director in winter
k=0
dec={}
t=data.release_date
a=data.director

for line in a:
    info_dir=line.split('|')
    line_t=t[k]
    #print(line_t)
    if '.' in line_t:
        info=line_t.replace('.','/')
    else:
        info=line_t
    info_new=info.split('/')
    inf=info_new[0]
    if inf=='12' or inf=='1' or inf=='2':
        #print('WIN',inf)
        for dirt in range(len(info_dir)):
            ed=info_dir[dirt]
            if ed in dec:
                dec[ed]+=1
            else:
                dec[ed]=1
    k+=1
    
m=max(dec.values())
print('m=',m)

for der,pos in dec.items():
    if m ==pos:
        print('film in winter mounth =',der)

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [ ]:
answer_ls.append(2)
#30  mounth max profit
k=0
dec={}
a=data.revenue--data.budget
t=data.release_date
for line in t:
   
    if '.' in line:
        info=line.replace('.','/')
    else:
        info=line
    
    info_new=info.split('/')
    inf=info_new[0]
    if inf in dec.keys():
        dec[inf]+=a[k]
    else:
        dec[inf]=a[k]
    k+=1
m=max(dec.values())
print('m=',m)

for der,pos in dec.items():
    if m ==pos:
        print('film in mounth max=',der)

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [ ]:
answer_ls.append(5)
#31  name of film long
k=0
dec={}
num={}
a=data.production_companies
t=data.original_title
for line in a:
    info=line.split('|') #directors
    long=str(len(t[k]))
    for dirt in range(len(info)):
            ed=info[dirt]
            if ed in dec:
                dec[ed]+=long+' '
            else:
                dec[ed]=long+' '
    k+=1
i=0
for dir_t,number in dec.items():
    num1=number.split()
    long=len(num1)
    s=0
    for k in range(long):
        s+=float(num1[k])
    num[dir_t]=s/long

m=max(num.values())
print('m=',m)

for der,pos in num.items():
    if m ==pos:
        print('film in mounth max=',der)

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [ ]:
answer_ls.append(5)
#32  name of film long of letter
k=0
dec={}
num={}
a=data.production_companies
t=data.original_title
for line in a:
    info=line.split('|') #directors
    title=t[k].split()
    long=str(len(title))
    for dirt in range(len(info)):
            ed=info[dirt]
            if ed in dec:
                dec[ed]+=long+' '
            else:
                dec[ed]=long+' '
    k+=1
i=0
for dir_t,number in dec.items():
    num1=number.split()
    long=len(num1)
    s=0
    for k in range(long):
        s+=float(num1[k])
    num[dir_t]=s/long

m=max(num.values())
print('m=',m)
for der,pos in num.items():
    if m ==pos:
        print('film in mounth max=',der)

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [ ]:
answer_ls.append(3)
#33  diff letters
k=0
dec=''
ed=''
ex={}
t=data.original_title
for line in t:
    title=line.lower().replace('  ',' ').split()# words x.lower().replace('  ',' ').split() 
    long=len(title)
    for dirt in range(long):
        ed=title[dirt]
        if ed != ' ':   
            if ed in ex:
                ex[ed]+=1
            else:
                ex[ed]=1
           
            if ed in dec:
                k=1                
            else:
                dec+=ed+' '
line=dec.split()
m=len(line)
print('m=',m)

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [ ]:
answer_ls.append(1)
grouped_df = data['vote_average'].value_counts(normalize=True)
dec={}
a=data.original_title
b=data.vote_average
k=0
for line in a: #  ,  
    if line=='Inside Out':
        dec['Inside Out']=b[k]
    if line=='Gone Girl':
        dec['Gone Girl']=b[k]
    if line=='12 Years a Slave':
        dec['12 Years a Slave']=b[k]
    if line=='BloodRayne':
        dec['BloodRayne']=b[k]
    if line=='The Adventures of Rocky & Bullwinkle':
        dec['The Adventures of Rocky and Bullwinkle']=b[k]
    if line=='The Lord of the Rings: The Return of the King':
        dec['The Lord of the Rings: The Return of the King']=b[k]
    if line=='Upside Down':
        dec['Upside Down']=b[k]
    if line=='300':
        dec['300']=b[k]
    if line=='Lucky Number Slevin':
        dec['Lucky Number Slevin']=b[k]
    k+=1
display(dec)
display(grouped_df)

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [ ]:
answer_ls.append(5)
#35 pary of actors
dec={}
dec[0]=0
dec[1]=0
dec[2]=0
dec[3]=0
dec[4]=0
a=data.cast
for line in a:
    info=line.split('|')
    
    if ('Johnny Depp' in info) and ('Helena Bonham Carter' in info):
        dec[0]+=1
        
    if ('Hugh Jackman' in info) and ('Ian McKellen' in info):
        dec[1]+=1
        
    if ('Vin Diesel' in info) and ('Paul Walker' in info):
        dec[2]+=1
        
    if ('Adam Sandler' in info) and ('Kevin James' in info):
        dec[3]+=1
       
    if ('Daniel Radcliffe' in info) and ('Rupert Grint' in info):
        dec[4]+=1
        
display(dec)
m=max(dec.values())
print('m=',m)

for der,pos in dec.items():
    if m ==pos:
        print('actors max=',der)

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [ ]:
answer_ls.append(4)
#36 

b=data[data.revenue-data.budget>0]
grouped_df = b['revenue'].value_counts(normalize=True)
a=data.director
r=data.revenue
b=data.budget
dec_all={}
dec_profit={}
dec={}
fem=0
k=0
for line in a:
    info=line.split('|')
    for wor in range(len(info)):
        ed=info[wor]
        if ed in dec_all:
            dec_all[ed]+=1
        else:
            dec_all[ed]=1
           
        if r[k]-b[k]>0:
            if ed in dec_profit:
                dec_profit[ed]+=1
            else:
                dec_profit[ed]= 1
        else:
            dec_profit[ed]= 0
    k+=1
for line, pos in dec_all.items():
    dec[line]=dec_profit[line]/dec_all[line]

m=max(dec.values())

k=0
for der,pos in dec.items():
    if m ==pos:
        print('director=',der)
        k+=1
print('k=',k)
# перебираем варианты
if k !=1:
    ex={}
    ex[0]='Quentin Tarantino'
    ex[1]='Steven Soderbergh'
    ex[2]='Robert Rodriguez'
    ex[3]='Christopher Nolan'
    ex[4]='Clint Eastwood'
   
    for i in range(5):
        if (ex[i] in dec) and (m==dec[ex[i]]):
            print('!!! answer=',ex[i])

# Submission

In [6]:
len(answer_ls)

0

In [5]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

Empty DataFrame
Columns: [Id, Answer]
Index: []